In [10]:
# jupyter notebook이 있는 폴더의 경로를 출력
%pwd

'D:\\jadenkim\\datasciencestudy\\boostcourse\\01. Begining Data Science'

In [4]:
%ls

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 9634-DF9B

 D:\jadenkim\datasciencestudy\boostcourse\01. Begining Data Science 디렉터리

2021-04-02  오전 09:23    <DIR>          .
2021-04-02  오전 09:23    <DIR>          ..
2021-04-02  오전 09:18    <DIR>          .ipynb_checkpoints
2021-04-02  오전 12:38           159,187 1. Intro.ipynb
2021-04-02  오전 09:16            51,164 2. Using Pandas.ipynb
2021-04-02  오전 09:23             1,269 3. File path setting.ipynb
2021-04-02  오전 09:20            78,722 도로교통공단_시군구별 월별 교통사고 통계_20191231.csv
               4개 파일             290,342 바이트
               3개 디렉터리  432,528,633,856 바이트 남음

In [5]:
import pandas as pd

In [9]:
# 한글 데이터는 cp949를 이용해서 encoding하면 깨짐 없이 볼 수 있다
pd.read_csv("Data/도로교통공단_시군구별 월별 교통사고 통계_20191231.csv", encoding="cp949")

      시도  시군구   월  사고건수  사망자수  중상자수  경상자수  부상신고자수
0     서울  종로구   1    87     1    25    88      12
1     서울  종로구   2    66     1    22    50      12
2     서울  종로구   3    87     2    25    79      18
3     서울  종로구   4    85     0    25    91      15
4     서울  종로구   5   112     1    25   115      18
...   ..  ...  ..   ...   ...   ...   ...     ...
2738  세종  세종시   8    79     1    38    76       1
2739  세종  세종시   9    76     1    44    71       0
2740  세종  세종시  10    90     1    50    79       1
2741  세종  세종시  11    82     3    34    71       2
2742  세종  세종시  12    68     0    35    71       1

[2743 rows x 8 columns]